<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rango</title>
</head>
<body>
    <h1>Categories</h1>
    <div>
        {% if category %}
            <h1>{{ category.name }} </h1>
            {% if pages %}
                {% for page in pages  %}
                <li><a href="{{ page.url}}">{{ page.title }}</a></li>
                {% endfor %}
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
            <a href="/rango/category/{{ category.slug }}/add_page/">Add a New Page</a><br/>
        {% else %}
            <strong>The specified category does no exist.</strong>
        {% endif %}
    </div>
    <div>
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
        <br/>
        <a href="/rango/">Index</a><br/>
        <a href="/rango/add_category/">Add a New Category</a><br/>
        <a href="/rango/about/">About</a>
    </div>
</body>
</html>